@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: rgb(245, 244, 244);
}

.container{
    background: #fff;
    border-radius: 5px;
    width: 400px;
}

.form{
    padding: 10px 40px;
}

h2{
    text-align: center;
    margin-top: 20px;
}

.form-control{
    position: relative;
    margin-bottom: 10px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
}

.form-control input{
    display: block;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.form-control input:focus{
    outline: 0;
}

.form button{
    background-color: rgb(11, 151, 194);
    cursor: pointer;
    color: #fff;
    width: 100%;
    margin-top:20px;
    border: 2px solid rgb(11, 151, 194);
    display: block;
    padding: 10px;
    font-size: 16px;
}